@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}

.card {
  height: 250px;
  width: 700px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  border-radius: 10px;
}

.card .img-section {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card .img-section img {
  height: 90%;
  width: 90%;
  border-radius: 20px;
}

.card .name-sub-area {
  margin-left: 20px;
  margin-top: 40px;
  width: 70%;
}

.card .name-sub-area p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}

.card .name-sub-area p:nth-child(2) {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card .name-sub-area p:nth-child(3) {
  font-size: 17px;
  font-weight: 600;
}

.card .name-sub-area p span {
  font-size: 15px;
  font-weight: 500;
}

.card .line {
  width: 90%;
  height: 1px;
  background-color: lightblue;
  margin-top: 10px;
}

.card .button {
  display: flex;
  align-content: inherit;
  justify-content: center;
  margin-top: 10px;
}

.card .button button {
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background: black;
  transition: 0.3s linear;
}

.card .button button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.add-btn {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
}

.add-btn button {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(106, 71, 169);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s linear;
}

.add-btn button i {
  margin-right: 10px;
}

.add-btn button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.faculty-details {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 50%;
}

.faculty-details p {
  margin-top: 20px;
}


.over-form {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 20px;
  display: none;
}

.over-form p:nth-child(1) {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 800;
}

.over-form .line {
  width: 90%;
  height: 1px;
  background-color: lightblue;
  margin-top: 10px;
}

.over-form .title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.over-form .name-part {
  display: flex;
  flex-direction: column;
}

.over-form .name-part p {
  font-size: 18px;
}

#nm-select {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 5px;
  margin-top: 10px;
  width: 15%;
}

.over-form input {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 5px;
  margin-top: 10px;
  width: 80%;
  font-size: 15px;
}

.over-form .tk-subject,
.over-form .tk-subject p,
.over-form .tk-subject input,
.over-form .faculty-dt,
.over-form .faculty-dt p,
.over-form .faculty-dt input,
.over-form .class-dt,
.over-form .class-dt p,
.over-form .class-dt input,
.over-form .num-class-dt,
.over-form .num-class-dt p,
.over-form .num-class-dt input,
.over-form .dept-name,
.over-form .dept-name p,
.over-form .dept-name input {
  margin-top: 15px;
  font-size: 15px;
  width: 98%;
}

.add-form-btn {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
}

.add-form-btn button {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(106, 71, 169);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s linear;
}

.add-form-btn button i {
  margin-right: 10px;
}

.add-form-btn button:hover {
  opacity: 0.5;
  cursor: pointer;
}